{% extends "base.html" %}
{% block title %}Apps - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">Apps</li>
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <div id="apps">
            <div class="content-floater">
                <div class="content-wrapper">
                    <div class="project-image-portrait" style="background-image: url(images/stlviewer1.png); background-position: 0% 0%;"></div>
                    <div class="project-column">
                        <div class="project">
                            <h2>STLViewer</h2>
                            <p class="summary">Display and manipulate the content of STL files.</p>
                            <ul class="links">
                                <li>
                                    <a href="http://www.cravesoft.com/stlviewer">
                                        <i class="fa fa-globe"></i> web page
                                    </a>
                                </li>
                                <li>
                                    <a href="http://github.com/cravesoft/stlviewer">
                                        <i class="fa fa-github-alt"></i> code
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
