{% extends "base.html" %}
{% block title %}Games - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">Games</li>
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <div id="games">
            <div class="content-floater">
                <div class="content-wrapper">
                    <div class="project-image-portrait" style="background-image: url(images/dodger2.png); background-position: 0% 0%;"></div>
                    <div class="project-image-landscape" style="background-image: url(images/dodger2.png); background-position: 50% 50%;"></div>
                    <div class="project-column">
                        <div class="project">
                            <h2>Dodger</h2>
                            <p class="summary">Several bad guys fall from the top of the screen, and you must avoid them.</p>
                            <ul class="links">
                                <li>
                                    <a href="http://www.cravesoft.com/dodger">
                                        <i class="fa fa-gamepad"></i> play
                                    </a>
                                </li>
                                <li>
                                    <a href="http://github.com/cravesoft/dodger">
                                        <i class="fa fa-github-alt"></i> code
                                    </a>
                                </li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=org.cravesoft.dodger">
                                        <i class="fa fa-mobile fa-lg"></i> store
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-floater">
                <div class="content-wrapper">
                    <div class="project-image-portrait" style="background-image: url(images/memory2.png); background-position: 0% 0%;"></div>
                    <div class="project-image-landscape" style="background-image: url(images/memory2.png); background-position: 50% 50%;"></div>
                    <div class="project-column">
                        <div class="project">
                            <h2>Memory</h2>
                            <p class="summary">Flip over two cards. If they match, then they stay overturned. Return all cards to win.</p>
                            <ul class="links">
                                <li>
                                    <a href="http://www.cravesoft.com/memory">
                                        <i class="fa fa-gamepad"></i> play
                                    </a>
                                </li>
                                <li>
                                    <a href="http://github.com/cravesoft/memory">
                                        <i class="fa fa-github-alt"></i> code
                                    </a>
                                </li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=org.cravesoft.memory">
                                        <i class="fa fa-mobile fa-lg"></i> store
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
