{% extends "base.html" %}
{% block title %}Games - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">Games</li>
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
    <section id="content">
        <div id="games">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="http://www.cravesoft.com/dodger"><img src="images/dodger2.png" alt="Dodger"></a>
                        <div class="caption">
                            <h3>Dodger</h3>
                            <p>Several bad guys fall from the top of the screen, and you must avoid them.</p>
                            <p>
                                <a href="http://github.com/cravesoft/dodger" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> Source Code</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-android fa-lg"></i> Google Play Store</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="http://www.cravesoft.com/memory"><img src="images/memory2.png" alt="Memory"></a>
                        <div class="caption">
                            <h3>Memory</h3>
                            <p>Flip over two cards. If they match, then they stay overturned. Return all cards to win.</p>
                            <p>
                                <a href="http://github.com/cravesoft/memory" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> Source Code</a>
                                <a href="#" class="btn btn-success"><i class="fa fa-android fa-lg"></i> Google Play Store</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
